# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore Backend
      run: dotnet restore Backend/Backend.csproj

    - name: Restore Frontend
      run: dotnet restore Frontend/Frontend.csproj
    - name: Build Backend
      run: dotnet build Backend/Backend.csproj --configuration Release --no-restore

    - name: Build Frontend
      run: dotnet build Frontend/Frontend.csproj --configuration Release --no-restore
      
    - name: Docker Compose Build
      run: docker compose build
    - name: Run Docker Compose
      run: docker compose up -d --build

      
    - name: Stop Docker Compose
      run: docker compose down

